.contentInnerPage {
    margin-top: 20px;
    margin-left: 40px;
    margin-right: 40px;
    margin-bottom: 10px;
    font-family: 'Times New Roman', Times, serif;
    text-align: justify;
}


body {
    --s: 50px;
    /* control the size*/
    --c1: #e8dcd4;
    --c2: #ece4da;

    --t: calc(var(--s)/10);
    /* control the thickness */
    --_c: #0000 calc(98% - var(--t)), var(--c1) calc(100% - var(--t)) 98%, #0000;
    --_s: calc(2*var(--s)) calc(5*var(--s)/2);
    --_r0: /var(--_s) radial-gradient(calc(var(--s)/2) at 0 20%, var(--_c));
    --_r1: /var(--_s) radial-gradient(calc(var(--s)/2) at 100% 20%, var(--_c));
    background:
        0 0 var(--_r0), calc(-1*var(--s)) calc(5*var(--s)/4) var(--_r0),
        var(--s) 0 var(--_r1), 0 calc(5*var(--s)/4) var(--_r1),
        conic-gradient(at var(--t) calc(20% + 2*var(--t)), #0000 75%, var(--c1) 0) calc(var(--t)/-2) calc(var(--s) - var(--t))/var(--s) calc(5*var(--s)/4),
        repeating-conic-gradient(var(--c2) 0 25%, #0000 0 50%) var(--s) calc(var(--s)/-8)/var(--_s),
        conic-gradient(from 90deg at var(--t) var(--t), var(--c2) 25%, var(--c1) 0) calc((var(--s) - var(--t))/2) calc((var(--s) - var(--t))/2)/var(--s) calc(5*var(--s)/4);

}

h3 {
    text-align: center;
    margin-top: 15px;
    font-family: 'Times New Roman', Times, serif;
}

h4 {
    text-align: center;
    margin-top: 15px;
    font-size: 22px;
    font-weight: 600;
    font-family: 'Times New Roman', Times, serif;
}

h5 {
    text-align: center;
    font-weight: 600;
    font-size: 16px;
}

a {
    text-decoration: none;
    color: #333;
}

.uniform-height-img-inpage {
    width: 450px;
    height: 630px;
    margin-top: 20px;
    margin-left: 70px;
    margin-bottom: 10px;
    float: left;
}